<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h2>Welcome to the reading club</h2>
<p>Its nice to have you here</p>
<a href="register/"><button>Click here to join!</button></a>
<p>Current club participants:</p>

<!--    <table>-->
<!--        <tr>-->
<!--            -->
<!--                <th>name</th>-->
<!--            -->
<!--                <th>age</th>-->
<!--            -->
<!--                <th>favorite_book</th>-->
<!--            -->
<!--                <th>town</th>-->
<!--            -->
<!--        </tr>-->

<!--            -->
<!--                -->
<!--                    <tr>-->
<!--                        -->
<!--                            -->
<!--                                <td>Boba</td>-->
<!--                            -->
<!--                        -->
<!--                            -->
<!--                                <td>22</td>-->
<!--                            -->
<!--                        -->
<!--                            -->
<!--                                <td>Kuka</td>-->
<!--                            -->
<!--                        -->
<!--                    </tr>-->
<!--                -->
<!--            -->
<!--                -->
<!--                    <tr>-->
<!--                        -->
<!--                            -->
<!--                                <td>Biba</td>-->
<!--                            -->
<!--                        -->
<!--                            -->
<!--                                <td>44</td>-->
<!--                            -->
<!--                        -->
<!--                            -->
<!--                                <td>Keka</td>-->
<!--                            -->
<!--                        -->
<!--                    </tr>-->
<!--                -->
<!--            -->
<!--    </table>-->

    <table>
        <tr>

                <th>name</th>

                <th>age</th>

                <th>favorite_book</th>

                <th>town</th>

        </tr>

                <tr>

                        <td>Boba</td>

                        <td>22</td>

                        <td>Kuka</td>

                </tr>

                <tr>

                        <td>Biba</td>

                        <td>44</td>

                        <td>Keka</td>

                </tr>

    </table>